<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" />
</head>
<body>
    <table class="table table-bordered table-hover">
        {% for i in shuju %}
            <tr>
            <td>{{ i.device_name }}</td>
            <td>{{ i.device_model }}</td>
            <td>{{ i.device_range }}</td>
            <td>{{ i.device_precision }}</td>
            <td>{{ i.manufacturer }}</td>
            <td>{{ i.Commissioning_date }}</td>
            <td>{{ i.device_number }}</td>
            <td>{{ i.device_factory_number }}</td>
            <td>{{ i.calibration_department }}</td>
            <td>{{ i.calibration_cycle }}</td>
            <td>{{ i.calibration_time }}</td>
            <td>{{ i.expire_time }}</td>
            <td>{{ i.device_type }}</td>
            <td>{{ i.device_user_department }}</td>
            <td>{{ i.device_name }}</td>
            <td>{{ i.node }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>